<div class="row">
  <div class="col-md-12">
    <div class="embed-responsive embed-responsive-16by9">
      <h2>Comments</h2>
      <% @movie.comments.each do |comment| %>
        <p>
          Name: <%= comment.name %>
        </p>
        <p>
          Comment: <%= comment.body %>x
        </p>
      <% end %>

      <br><br>

      <%= form_for ([@movie, Comment.new]) do |f| %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :body %>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit 'Add Comment' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
