<p id="notice"><%= notice %></p>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @movie.cover, class: 'img-responsive' %>
      </div>
      <div class="col-md-6">
        <h1><%= @movie.title %></h1>
        <h3><%= @movie.tag_list %></h3>
        <p><strong>Description: </strong>
          <%= @movie.description %>
        </p>
        <p><strong>Director: </strong><%= @movie.director %></p>
        <p><strong>Stars : </strong><%= @movie.stars %></p>
        <p>
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_movie_path(@movie) %> |
            <%= link_to 'Back', movies_path %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li class="">
            <%= link_to 'Trailer', movie_path %>
          </li>
          <li>
            <%= link_to 'Comment', show_comments_path %>
          </li>
        </ul>
      </div>
    </div>

    <% if current_page?(show_comments_path) %>
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <h2>Comments</h2>
            <% @movie.comments.each do |comment| %>
              <p>
                Name: <%= comment.name %>
              </p>
              <p>
                Comment: <%= comment.body %>x
              </p>
            <% end %>

            <br><br>

            <%= form_for ([@movie, Comment.new]) do |f| %>
              <p>
                <%= f.label :name %>
                <%= f.text_field :name %>
              </p>
              <p>
                <%= f.label :body %>
                <%= f.text_area :body %>
              </p>
              <p>
                <%= f.submit 'Add Comment' %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/i__1Z5a9Sak"
            allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    <% end %>




  </div>
</div>
